/* Theme default */
/* ======= Single Invoice ========= */
.invoice-heading .invoice-number {
  font-size: 26px;
  color: #40babd;
}
.theme-2 .invoice-heading .invoice-number {
  color: #6dbd63;
}
.theme-3 .invoice-heading .invoice-number {
  color: #497cb1;
}
.theme-4 .invoice-heading .invoice-number {
  color: #ec6952;
}
.invoice-heading .invoice-logo {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}
.invoice-meta .title {
  font-size: 16px;
  color: #9499a3;
}
.theme-2 .invoice-meta .title {
  color: #b0dbab;
}
.theme-3 .invoice-meta .title {
  color: #8fafd1;
}
.theme-4 .invoice-meta .title {
  color: #f6b9ae;
}
.module .invoice-meta .title {
  margin-bottom: 5px;
}
.invoice-table td.description {
  max-width: 320px;
}
.invoice-table td.description .desc-text {
  color: #616670;
}
.invoice-table td.grand-total {
  font-size: 18px;
  color: #40babd;
  font-weight: 600;
}
.theme-2 .invoice-table td.grand-total {
  color: #6dbd63;
}
.theme-3 .invoice-table td.grand-total {
  color: #497cb1;
}
.theme-4 .invoice-table td.grand-total {
  color: #ec6952;
}
.invoice-table .table > tbody > tr > td,
.invoice-table .table > thead > tr > th {
  padding: 15px 20px;
}
.invoice-table .table > tbody > tr > td.grand-total {
  border-color: #40babd;
  border-width: 2px;
}
.theme-2 .invoice-table .table > tbody > tr > td.grand-total {
  border-color: #6dbd63;
}
.theme-3 .invoice-table .table > tbody > tr > td.grand-total {
  border-color: #497cb1;
}
.theme-4 .invoice-table .table > tbody > tr > td.grand-total {
  border-color: #ec6952;
}
.invoice-terms .title {
  color: #797f8b;
}
/* ===== Print styles ===== */
@media print {
  .header,
  .main-nav-wrapper,
  .view-title,
  .side-panel {
    display: none!important;
  }
  .content-wrapper {
    page-break-inside: avoid;
    color: #000 !important;
    margin-left: 0!important;
    padding: 0px;
    width: 100%;
  }
  .content-wrapper .module-wrapper {
    float: none;
  }
  .content-wrapper .module {
    border: none;
  }
  .btn {
    display: none;
  }
}
